* {
	box-sizing: border-box;
}
body {
	margin:0;
	padding:0;
	background-image: url("../images/eva-elfie-bg2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}
.full_container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	height: 100%;
	padding: 20px;
}
.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.page_desc {
	align-items: center;
	font-family: 'Lora', serif;
	color: #FFFFDD;
	text-shadow: 0px 1px 0px #000;
}
.page_desc h1 {
	padding:0;
	margin:0;
	font-size: 60px;
}
.page_desc h2 {
	padding:0;
	margin:0;
	font-size: 30px;
	font-weight: lighter;
}

.social {
	display: flex;
	align-items: center;
}
.socialSquare {
	width: 40px;
	border-radius: 20px;
	margin-right: 20px;
}
.socialSquare:hover {
	transition: 200ms;
	width: 60px;
}
.socialSquare img {
	display: flex;
	width:100%;
	align-items: center;
}
.biography {
	font-family: 'Lora', serif;
	color: #FFFFDD;
	text-shadow: 0px 1px 0px #000;
	font-size: 15px;
	max-width: 50%;
}
.otherInformation a {
	display: block;
	padding:20px;
	background-color: #FFFFEE;
	color: #000;
	text-decoration: none;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #000;
}

.otherInformation a:hover {
	transition: 200ms;
	padding:30px;
}